<a href="https://colab.research.google.com/github/ardeldelululili/tugas-pertemuan-3/blob/main/ardeliatugaspertemuan3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
import pandas as pd
import numpy as np

In [6]:
import pandas
pandas.__version__

'1.5.3'

In [12]:
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [18]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [19]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [24]:
import pandas as pd
#Calling DataFrame constructor
df = pd.DataFrame()
print(df)
#list of strings
lst = ['Ayo','Belajar','Data','Science','Bersama','DQLab']
#calling Dataframe constructor on list
df= pd.DataFrame(lst)
print(df)

Empty DataFrame
Columns: []
Index: []
         0
0      Ayo
1  Belajar
2     Data
3  Science
4  Bersama
5    DQLab

In [33]:
import pandas as pd

# DataFrame
matrix = [[1,2,3],
          ['a','b','c'],
          [3, 4, 5],
          ['d', 4, 6]]
matrix_list = pd.DataFrame(matrix)
print("DataFrame")
print(matrix_list)

DataFrame
   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

In [34]:
import pandas as pd
# Series
number_list = pd.Series([1,2,3,4,5,6])
# DataFrame
matrix_list = pd.DataFrame([[1,2,3],
                            ['a','b','c'],
                            [3,4,5],
                            ['d',4,6]])
# [1] method .info()
print("[1]method .info()")
print(matrix_list.info)
# {2} atrribute .shape
print("\n[2]attribute .shape")
print("   Shape dari number list:", number_list.shape)
print("   Shape dari matrix_list:", matrix_list.shape)
#[3] attribute .dtypes
print("\n[3]attribute .dytpes")
print("    Tipe data number_list:", number_list.dtypes)
print("    Tipe data matrix_list:", matrix_list.dtypes)
#[4] attribute .astype()
print("\n{4}method .astype()")
print("   Konversi number_list ke str:", number_list.astype("str"))
print("   Konversi matrix_list ke str:", matrix_list.astype("str"))

[1]method .info()
<bound method DataFrame.info of    0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6>

[2]attribute .shape
   Shape dari number list: (6,)
   Shape dari matrix_list: (4, 3)

[3]attribute .dytpes
    Tipe data number_list: int64
    Tipe data matrix_list: 0    object
1    object
2    object
dtype: object

{4}method .astype()
   Konversi number_list ke str: 0    1
1    2
2    3
3    4
4    5
5    6
dtype: object
   Konversi matrix_list ke str:    0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

In [37]:
data = {
    'Nama': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
    'Gender': ['L', 'P', 'P', 'L'],
    'No. Telepon': ['081267001022', '087823560918', '089654009102', '082267018967'],
}

# Membuat DataFrame
df = pd.DataFrame(data)

# menampilan DataFrame
print(df)

                 Nama Gender   No. Telepon
0      Arfian Purnama      L  081267001022
1  Alisa Dityaningrum      P  087823560918
2      Kiki Anggraeni      P  089654009102
3     Rizky Kurniawan      L  082267018967

In [36]:
data = {
    'Nama': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
    'Gender': ['L', 'P', 'P', 'L'],
    'No. Telepon': ['081267001022', '087823560918', '089654009102', '082267018967'],
    'Tugas': [80, 89, 76, 80],
    'UAS': [88, 78, 90, 81],
    'UTS': [90, 89, 85, 82]
}

# Membuat DataFrame
df = pd.DataFrame(data)
df["Nilai akhir"] = 0.3 * df["Tugas"] + 0.3 * df["UAS"] + 0.4 * df["UTS"]
df
# menampilan DataFrame
print(df)

                 Nama Gender   No. Telepon  Tugas  UAS  UTS  Nilai akhir
0      Arfian Purnama      L  081267001022     80   88   90         86.4
1  Alisa Dityaningrum      P  087823560918     89   78   89         85.7
2      Kiki Anggraeni      P  089654009102     76   90   85         83.8
3     Rizky Kurniawan      L  082267018967     80   81   82         81.1